.thumbnail {
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
}

.blur {
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail a:visited,
.thumbnail a:focus {
    color: white;
}